<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js" integrity="sha512-jMNwWSmjje4fjYut9MBGKXw5FZA6D67NHAuC9szpjbbjg51KefquNfvn4DalCbGfkcv/jHsHnPo1o47+8u4biA==" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/rooms.css">
    <style>
        :root {
            --color-pallet-1: rgb(122 116 116 / 52%); /* container background color */
            --color-pallet-2: rgb(226 225 225 / 85%); /* container color */
            --color-pallet-3: rgb(48 70 239); /* font active color */
            --color-pallet-4: rgb(0 0 0); /* font in-active color */
            --color-pallet-5: rgb(252 252 252); /* font color - when background color is active */
            --color-pallet-6: rgb(255 65 65); /* font in-valid hover color */
            --color-pallet-7: rgb(255 255 255); /* font in-valid hover text color */

            --z-index-form-container: 2; /* form input z-index */

            --radar-color-1: rgb(22 89 241 / 57%); /* radar inner lines */
            --radar-color-2: rgb(0 0 20); /* radar inner radiend color */
            --z-index-form-1: 3; /* form input z-index */
            --z-index-form-2: 4; /* form input hover z-index */
            /*--radar-color-1: rgb(0, 58, 248);*/ /* radar inner lines */
            /*--radar-color-2: rgb(0 242 255 / 0.50);*/ /* radar inner radiend color */
            /* --form-height: 500px; */
            /* --form-width: 380px; */
            /* --form-input-margin-top: 25px; */
        }

        .form-content h2 {
            letter-spacing: initial;
        }

        .form-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* background-color: rgba(0,0,0,0.5); */
            display: none;
        }

        .closeBth {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 30px;
            color: var(--form-color);
            cursor: pointer;
        }
    </style>
    <title><%= unescape( title ) %></title>
</head>
<body>
    <div id="content-container">
        <div id="content">
            <header id="header-content">
                <nav class="navigation" role="navigation">
                    <ul class="app" role="tablist">
                        <li><a trager="_self" href="#" class="logo" title="Go to homepage" aria-label="Go to homepage">UNIVERSAL CHAT</a></li>
                        <li><a target="_self" href="/messenger/rooms" title="Go to messenger" aria-label="Go to messenger">Messenger</a></li>
                        <li><a target="_self" href="/iot/devices" title="Go to I0T" aria-label="Go to IOT">IOT</a></li>
                    </ul>
                    <ul class="user" role="tablist">
                        <li><a target="_self" href="#" title="device name" aria-label="devicename">DEVICES LIST</a></li>
                        <li><a target="_self" href="#" title="username" aria-label="username"><%= unescape(userName) %></a></li>
                        <li><a trager="_self" href="/users/logout" title="Logout" aria-label="Logout">logout</a></li>
                    </ul>
                </nav>
            </header>
            <div class="form-container" id="form-container">
                <form class="form" id="loginForm" onsubmit="event.preventDefault(); formSubmitHandler(event, 'loginForm');">
                    <div class="form-content">
                        <span class="closeBth" onclick="document.getElementById('form-container').style.display='none'">&times;</span>
                        <h2 id="form-title">Create new Device</h2>
                        <input type="text" id="form-title-sender" name="formTitleSender" value="createPassword" style="display:none; height:0; width:0;" />
                        <div class="inputBox">
                            <input id="deviceNameOrId" type="text" name="deviceNameOrId" maxlength="26" oninput="chechInputLengthValidity( this, 'warningLabelDeviceName' )" placeholder=" " required />
                            <label for="deviceNameOrId">Device name</label>
                            <warningLabel id="warningLabelDeviceName"></warningLabel>
                            <i></i>
                        </div>
                        <div class="inputBox" id="passwordContainer" style="visibility: hidden;">
                            <input id="password" type="password" name="password" maxlength="26" oninput="chechInputLengthValidity( this, 'warningLabelPassword' )" placeholder=" " />
                            <label for="password">Password</label>
                            <warningLabel id="warningLabelPassword"></warningLabel>
                            <eyeBtn id="eye-btn" class="eye" onclick="togglePassword( 'eye-btn', 'password' )"></eyeBtn>
                            <i></i>
                        </div>
                        <div class="checkbox-container">
                            <input id="enabelPassword" type="checkbox" onclick=" toggleVisibility( 'enabelPassword', 'passwordContainer', 'password' ); " name="enabelPassword" />
                            <label for="enabelPassword" class="custom-checkbox-container"><span class="custom-checkbox"></span>Create Password</label>
                        </div>
                        <input type="submit" id="form-submit-btn" name="submit" value="Create" />
                    </div>
                    <script>
                        function toggleVisibility(inputId, toggleId, toggleInputId) {
                            var switchElement = document.getElementById(inputId);
                            var toggleField = document.getElementById(toggleId);
                            var toggleInputField = document.getElementById(toggleInputId);
                            if (switchElement.checked) {
                                toggleField.style.visibility = "visible";
                                toggleInputField.required = true;
                            } else {
                                toggleField.style.visibility = "hidden";
                                toggleInputField.required = false;
                            }
                        }
                    </script>
                </form>
            </div>
            <div id="room-content">
                <div id="room-log">
                    <h4><%= deviceListLabel %></h4>

                    <% const deviceElements = deviceList.map(device => { %>
                    <div class="room">
                        <button onclick="location.href='devices/<%= device.deviceId %>'"><%= device.deviceName %></button>
                    </div>
                    <% }); %>
                    <!--<%= deviceElements.join('') %>-->
                </div>

                <div id="input-container">
                    <button id="createNewDevice" onclick=" createNewDevice(); ">Create new Device</button>
                    <button id="joinNewDevice" onclick=" JoinNewDevice(); ">Join new Device</button>

                </div>
                <script>
                    const formContainer = document.getElementById('form-container');
                    const formTitle = document.getElementById('form-title');
                    const formTitleSender = document.getElementById('form-title-sender');
                    const formDeviceNameOrId = document.querySelector("label[for='deviceNameOrId']");
                    const formCreatePasswordLabel = document.querySelector("label[for='enabelPassword']");
                    const formSubmitBtn = document.getElementById('form-submit-btn');

                    function createNewDevice() {
                        formTitle.innerHTML = "Create new Device";
                        formTitleSender.value = "Create new Device";
                        formDeviceNameOrId.innerHTML = "Device name";
                        formCreatePasswordLabel.innerHTML = "<span class='custom-checkbox'></span>Create Password";
                        formSubmitBtn.value = "Create";
                        formContainer.style.display = 'flex';
                    }

                    function JoinNewDevice() {
                        formTitle.innerHTML = "Join new Device";
                        formTitleSender.value = "Join new Device";
                        formDeviceNameOrId.innerHTML = "Device ID";
                        formCreatePasswordLabel.innerHTML = "<span class='custom-checkbox'></span>Has Password";
                        formSubmitBtn.value = "Join";
                        formContainer.style.display = 'flex';
                    }
                </script>
            </div>
        </div>
    </div>
    <script src="/formHandler.js"></script>
</body>
</html>